body{
    background-color: rgba(216, 175, 39, 0.61)
}

h1, h2, ol, li{
    text-align: center;
    list-style-position: inside;
}

ul, ol {
  text-align: center; /* center the text */
  list-style-position: inside; /* align bullets/numbers with text */
  padding: 0;
  margin: 10px auto; /* center the list itself */
  width: fit-content; /* optional: shrink to content size */
}

li {
  display: block; /* ensures vertical stacking */
  margin: 5px 0;   /* spacing between items */
}

img {
   display:block;
   margin-left: auto;
   margin-right: auto;
   
}

li, ul, ol, h1, h2, img {
    transition: .1s;
    transform: scale(1)
}

li:hover,
ul:hover,
ol:hover,
h1:hover,
h2:hover,
img:hover {
  transform: scale(1.25);
}

h1, h2 {
  padding: 5px;
}

.backbutton {
  font-size: larger;
  padding: 10px;
}